/*Estilos default */
:root {
  --font-raleway: "Raleway", sans-serif;
  --font-gill-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --font-roboto: font-family: "Roboto", sans-serif;
  --font-Open-sans: font-family: "Open Sans", sans-serif;
}
li::marker {
  content: "";
  display: none;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
/* .Class */
.content-about {
  font-family: var(--font-raleway);
}
.close {
  border: none;
  background: transparent;
  font-size: 1rem; 
}
.contentDetalles {
  font-family: var(--font-gill-sans)
}
.iconoDetalles {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.navbarHeader {
  background-color: #f8f8f9;
}
.navbar-nav {
  flex-grow: 1;
}
.openSans {
  font-family: var(--font-Open-sans)
}
.search-container {
  position: relative;
  width: 100%;
}
.search-container .form-control {
  width: 100%;
  padding-left: 40px;
}
.search-container .fa-search {
  font-size: 18px;
  color: #007bff;
  pointer-events: none;
}
.search-container input[name="src"] {
  min-width: 450px;
}
.sec_footer {
  margin-top: auto;
  width: 100%;
}
.valores-about {
  background: linear-gradient(to bottom, #f7f3f3, #ffffff);
  border-color: #ffffff;
  border-top-width: 3px;
  border-top-color: #005e7d;
  border-style: solid;
  height: 100%;
  max-height: 250px;
}
.vehiculo_data_precio {
  border: solid 1px #e4e3e3;
  padding: 5px;
  margin: 5px;
}

.titulo-valores {
  color: #005e7d;
  font-family: var(--font-raleway)
}
.content_valores {
  font-family: var(--font-raleway);
}
.datos_sucursal p {
  font-family: "Lato", sans-serif !important;
}

.fondo_historia {
  background-image: url(../images/_acf3741.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  border-style: solid;
  border-width: thin;
  border-color: black;
  height: 400px;
}

.areamap {
  background-image: url(../images/map.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.circlemap {
  border: 10px solid #f6f5f0;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  box-shadow: 0px 0px 3px 3px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.tamaño_iconos {
  width: 25px;
  height: 25px;
}
.tamaño_iconos2 {
  width: 40px;
  height: 40px;
}
.tamaño_iconos3 {
  width: 30px;
  height: 30px;
}
.span_iconos2 {
  font-size: 18px;
  font-family: var(--font-roboto);
  color: #ffff;
}

.lgtittle {
  font-family: var(--font-roboto);
  letter-spacing: 1.5px;
}
.li_option_list {
  background-color: #f2f2f2 !important;
  color: #1a1a1a;
  margin: 10px 0px 0px 0px;
  padding: 8px 6px 8px 6px !important;
  border-radius: 3px !important;
  font-family: var(--font-roboto);
  font-size: 18px;
  letter-spacing: 1px;
}
.li_option_list:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.fb {
  background-color: #001d60;
  background-image: linear-gradient(106deg, #001d60, #2d51a6);
}

.footer_data div {
  color: white;
  font-family: "Lato", sans-serif;
}
.upper {
  text-transform: uppercase;
}
.responsive-text {
  font-size: 5vw;
}
.chat_container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 999px;
}
.chat_button {
  margin: 0px;
  cursor: pointer;
  user-select: none;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
.chat_button2 {
  margin: 0px;
  cursor: pointer;
  user-select: none;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
.banner_contacto {
  background-color: white;
  font-weight: bold;
  background-color: #448aff;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 1px 2px #d9d9d9;
}
.banner_container {
  width: auto;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 90px;
  right: 80px;
}
.imagen_container {
  border-radius: 50%;
  background-color: white;
  width: auto;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 80px;
  right: 20px;
}
.chat_content {
  margin: 0px;
  padding: 0px;
  background-color: white;
  display: none;
}
.container-data {
  background-color: rgb(243, 243, 243);
  border: 3px solid rgb(235, 227, 227);
}
.div_ventavehiculo {
  background-color: #00568f;
  color: white;
  font-weight: 400 !important;
}
.btnindex_search {
  background-color: #7297a3 !important;
  color: white !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.btnindex_search:hover {
  background-color: #d82e2e !important;
  color: white !important;
}
.cotizar_label {
  padding: 0!important;
  font-weight: 600;
}
.btn_cotizar_label {
  font-weight: 600;
  width: 100%;
}
.btn_cotizar_label:hover {
  background-color: #d82e2e !important;
  color: white !important;
  font-weight: 600;
}
.container-precio {
  text-align: center;
  font-weight: 600;
  color: rgb(250, 250, 250);
  cursor: default;
  background-color: #7297a3;
}
.container-precio p {
  font-family: var(--font-roboto);
  letter-spacing: 1px;
}
.spanPrecio {
  background-color: rgba(255, 51, 51, 0.8);
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 5px;
  width: 50%;
  color: #ffffff;
}

.title_red {
  color: #d82e2e;
}
.input-index {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 7px 13px;
  background-color: #7297a3;
  border-radius: 5px;
  border: solid #7297a3;
}
.input-index:hover {
  background-color: #d82e2e;
  border: solid #d82e2e;
}
.input-index i {
  margin-right: 5px;
}
.responsive-iframe {
  width: 100%;
  aspect-ratio: 16 / 9; /* Ajusta la relación de aspecto según el contenido */
  border: none;
}

.input-index-modal {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 7px 13px;
  background-color: #14aa53;
  border-radius: 5px;
  border: solid #14aa53;
}
.input-index-modal:hover {
  background-color: #43c24d;
  border: solid #43c24d;
}
.linear {
  border-left: solid 2px #cf3232;
  padding-left: 5px;
}
.divGradient {
  background: linear-gradient(to bottom, #f7f3f3, #ffffff);
}
/* #ID   */
#input_busqueda_cotizacion {
  background-image: url("../images/icons/icons8-busqueda-30.png");
  background-position: 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 40px 12px 40px;
  border: 1px solid #ddd;
}
#navbar_administracion {
  background-color: #007bff;
}
#form_vehiculos {
  border-radius: 20px;
  border: 2px solid rgb(0, 123, 255);
  padding: 10px;
}
#header-user {
  background-color: gray;
}
#paginacion_links:hover {
  background-color: #3366ff;
  color: #ffffff;
}
#div_usuario {
  margin-top: 10px;
  width: auto;
  height: auto;
  border-style: solid;
  border-color: gray;
  padding: 5px;
}

/* Estilos para EL MALDITO IPAD PRO */
@media only screen and (max-width: 1366px) {

  .col-lg-9, .col-lg-3 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
  }
  .col-lg-9 {
    order: 1; /* Cambia el orden para que el contenido principal aparezca después */
}

.col-lg-3 {
    order: 2; /* Cambia el orden para que el buscador avanzado aparezca primero */
}
  .footer_data {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer_data .col-lg-6, .footer_data .col-lg-3 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}