/*
Estilos del contenido raiz
intentar usar nombres en español
usar cammelCase
*/

/*Estilos default */
:root {
  --font-raleway: "Raleway", sans-serif;
  --font-gill-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --font-roboto: font-family: "Roboto", sans-serif;
  --font-Open-sans: font-family: "Open Sans", sans-serif;
  --font-Lato: font-family: "Lato", sans-serif;
}
li::marker {
  content: "";
  display: none;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

/* .Clases */
.areaMapa {
  background-image: url(../images/map.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: thin;
  border-color: rgb(218, 218, 218);
}
.bannerContainer {
  width: auto;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 90px;
  right: 80px;
}
.bannerContacto {
  background-color: white;
  font-weight: bold;
  background-color: #448aff;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 1px 2px #d9d9d9;
}
.btnCotizarLabel {
  font-weight: 600;
  width: 100%;
}
.btnCotizarLabel:hover {
  background-color: #d82e2e !important;
  color: white !important;
  font-weight: 600;
}
.btnLupa{
  background-color: #7297a3 !important;
  color: white !important;
}
.btnIndexSearch {
  background-color: #d82e2e !important;
  color: white !important;
  font-weight: 600 !important;
}
.btnIndexSearch:hover {
  background-color: #d60303 !important;
  color: white !important;
}
.chatButton {
  margin: 0px;
  cursor: pointer;
  user-select: none;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: inherit;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
.chatContainer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 340px;
  height: auto;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 999px;
}
.chatContent {
  margin: 0px;
  padding: 10px;
  background-color: white;
  visibility: hidden;  /* Oculto inicialmente */
  opacity: 0;
  max-height: 0;  /* Para animación de deslizamiento */
  overflow: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear, max-height 0.3s ease-out;
}

.chatContent.show {
  visibility: visible;
  opacity: 1;
  max-height: 500px; /* Ajusta según el tamaño del contenido */
  transition: visibility 0s linear, opacity 0.3s linear, max-height 0.3s ease-in;
}
.circuloMapa {
  border: 10px solid #f6f5f0;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  box-shadow: 0px 0px 3px 3px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.labelClose {
  border: none;
  background: transparent;
  font-size: 1rem; 
}
.containerData {
  background-color: rgb(243, 243, 243);
  border: 3px solid rgb(235, 227, 227);
}
/* .containerFlex {
  display: flex;
  align-items: stretch; 
} */
.containerPrecio {
  text-align: center;
  font-weight: 600;
  color: rgb(250, 250, 250);
  cursor: default;
  background-color: #7297a3;
}
.containerPrecio p {
  font-family: var(--font-roboto);
  letter-spacing: 1px;
}
.containerAbout {
  font-family: var(--font-gill-sans);
}
.fontDetalles {
  font-family: var(--font-gill-sans);
}
.cotizarLabel {
  padding: 0!important;
  font-weight: 600;
}

.divGradient {
  background: linear-gradient(to bottom, #f7f3f3, #ffffff);
}
.divBannerVentaCredito {
  background-color: #00568f;
  color: white;
  font-weight: 400 !important;
}
.enlacesBtnPrimary:hover {
  color: #ffffff;
}
.fondoHistoria {
  background-image: url(../images/_acf3741.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: thin;
  border-color: black;
  height: 400px;
}
.footerData div {
  color: white;
}
.iconoDetalles {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.imagenContainer {
  border-radius: 50%;
  background-color: white;
  width: auto;
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 80px;
  right: 20px;
}
/* .index_search {
  background-color: #7297a3 !important;
  color: white !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
} */
.inputIndex {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 7px 13px;
  background-color: #7297a3;
  border-radius: 5px;
  border: solid #7297a3;
}
.inputIndex:hover {
  background-color: #d82e2e;
  border: solid #d82e2e;
}
.inputIndex i {
  margin-right: 5px;
}
.inputIndexModal {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 7px 13px;
  background-color: #14aa53;
  border-radius: 5px;
  border: solid #14aa53;
}
.inputIndexModal:hover {
  background-color: #43c24d;
  border: solid #43c24d;
}
.linear {
  border-left: solid 2px #cf3232;
  padding-left: 5px;
}
.maxWidth-600 {
  max-width: 600px!important;
}
.navbarHeader {
  background-color: #f8f8f9;
}
.navbar-nav {
  flex-grow: 1;
}
.noUi-connect{
  background: #7297a3 !important;
}
.openSans {
  font-family: var(--font-Open-sans)
}
.responsiveIframe {
  width: 100%;
  aspect-ratio: 16 / 9; /* Ajusta la relación de aspecto según el contenido */
  border: none;
}
.searchContainer {
  position: relative;
  width: 100%;
}
.searchContainer .form-control {
  width: 100%;
  padding-left: 40px;
}
.searchContainer .fa-search {
  font-size: 18px;
  color: #007bff;
  pointer-events: none;
}
.spanPrecio {
  background-color: rgba(255, 51, 51, 0.8);
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 5px;
  width: 50%;
  color: #ffffff;
}
.tituloValores {
  color: #005e7d;
  font-family: var(--font-raleway)
}
.tituloRojo {
  color: #d82e2e;
}
.upper {
  text-transform: uppercase;
}
.valoresAbout {
  background: linear-gradient(to bottom, #f7f3f3, #ffffff);
  border-color: #ffffff;
  border-top-width: 3px;
  border-top-color: #005e7d;
  border-style: solid;
  height: 100%;
  max-height: 250px;
}


/* Estilos de responsividad para EL MALDITO IPAD PRO */
@media only screen and (max-width: 1366px) {

  .col-lg-9, .col-lg-3 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
  }
  .col-lg-9 {
    order: 1; /* Cambia el orden para que el contenido principal aparezca después */
}

.col-lg-3 {
    order: 2; /* Cambia el orden para que el buscador avanzado aparezca primero */
}
  .footerData {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footerData .col-lg-6, .footerData .col-lg-3 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
